# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
testing_workspace/
build/
dist/
*.spec
*.egg-info/
.eggs/

# Virtual Environments
venv/
env/
.env
.venv/

# IDEs
.vscode/
.idea/

# Project Specific
.roblox-test-runner.json
*.log
