name: Release
run-name: Release ${{ github.ref_name }}

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller rich
          pip install .

      - name: Build Executable
        run: python build_exe.py

      - name: Upload aether
        uses: actions/upload-artifact@v4
        with:
          name: aether-windows
          path: ./dist/aether.exe

  build_macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller rich
          pip install .

      - name: Build Executable
        run: python build_exe.py

      - name: Upload aether
        uses: actions/upload-artifact@v4
        with:
          name: aether-macos
          path: ./dist/aether

  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller rich build
          pip install .

      - name: Build Executable
        run: python build_exe.py

      - name: Upload aether
        uses: actions/upload-artifact@v4
        with:
          name: aether-linux
          path: ./dist/aether

      - name: Build Wheel (PyPI)
        run: python -m build

      - name: Upload Python Package
        uses: actions/upload-artifact@v4
        with:
          name: python-package
          path: ./dist/*.whl

  release:
    runs-on: ubuntu-latest
    needs: ["build_windows", "build_macos", "build_linux"]
    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      # - name: Get version
      #   run: |
      #     VERSION=$(python setup.py --version)
      #     echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Prepare release assets
        run: |
          cd artifacts
          zip -rj aether-windows-x86_64.zip ./aether-windows/*
          zip -rj aether-macos-x86_64.zip ./aether-macos/*
          zip -rj aether-linux-x86_64.zip ./aether-linux/*
          mv ./python-package/*.whl ./ || true

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          # body: "Release v${{ env.VERSION }}"
          files: |
            artifacts/aether-windows-x86_64.zip
            artifacts/aether-macos-x86_64.zip
            artifacts/aether-linux-x86_64.zip
            artifacts/*.whl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to PyPI
        continue-on-error: true
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          pip install twine
          twine upload artifacts/*.whl
